---
import TechIcon from "../../icons/TechIcon.astro";
import TechCard from "./TechCard.astro";
---

<div
    id="tech"
    class="flex flex-col justify-center items-center w-full lg:max-w-4xl md:max-w-3xl pt-20 pb-10"
>
    <h2
        class="flex items-center gap-2 mb-10 font-bold text-4xl text-gray-50 w-full lg:w-auto"
    >
        <TechIcon className="w-10 text-purple-400 inline-block" />
        Tecnologías
    </h2>
    <p class="mb-16 lg:text-center text-gray-300 text-lg">
        En mi recorrido por el
        <span class="text-purple-300">mundo del desarrollo web,</span>
        he desarrollado una
        <span class="text-orange-300">sólida base de conocimientos</span> en múltiples
        tecnologías. A continuación, presento mi
        <span class="text-purple-300">stack de desarrollo:</span>
    </p>
    <div class="lg:flex lg:gap-5">
        <section class="rounded-lg mb-8">
            <header
                class="font-medium text-2xl text-orange-300 px-3 py-1 rounded-t-lg rounded-tr-lg inline-block bg-neutral-800"
            >
                Frontend
            </header>
            <div
                class="flex flex-wrap p-3 gap-3 justify-center bg-neutral-800 rounded-tr-lg rounded-b-lg rounded-bl-lg"
            >
                <TechCard techName="HTML" />
                <TechCard techName="CSS" />
                <TechCard techName="JS" />
                <TechCard techName="React" />
                <TechCard techName="Astro" />
                <TechCard techName="Bootstrap" />
                <TechCard techName="Tailwind" />
            </div>
        </section>
        <section class="rounded-lg mb-8">
            <header
                class="font-medium text-2xl text-orange-300 px-3 py-1 rounded-t-lg rounded-tr-lg inline-block bg-neutral-800
                lg:float-right"
            >
                Backend
            </header>
            <div
                class="flex flex-wrap p-3 gap-3 justify-center bg-neutral-800 rounded-tr-lg rounded-b-lg rounded-bl-lg
                lg:clear-right lg:rounded-t-lg lg:rounded-tr-none"
            >
                <TechCard techName="Node" />
                <TechCard techName="PHP" />
                <TechCard techName="Java" />
                <TechCard techName="Python" />
                <TechCard techName="MySQL" />
                <TechCard techName="Postgre" />
                <TechCard techName="Symfony" />
            </div>
        </section>
    </div>
    <section
        class="rounded-lg flex flex-col items-start lg:items-center w-full"
    >
        <header
            class="font-medium text-2xl text-purple-300 px-3 py-1 rounded-t-lg rounded-tr-lg inline-block bg-neutral-800"
        >
            Otras
        </header>
        <div
            class="flex flex-wrap p-3 gap-3 justify-center bg-neutral-800 rounded-tr-lg rounded-b-lg rounded-bl-lg
            lg:rounded-t-lg w-full lg:w-auto"
        >
            <TechCard techName="Git" />
            <TechCard techName="GitHub" />
            <TechCard techName="Docker" />
            <TechCard techName="NPM" />
        </div>
    </section>
</div>
