---
import { TAGS } from "../../data/Tags.astro";
const { techName, className } = Astro.props;

const tag = TAGS[techName];
---

<article class={`tech-card flex flex-col items-center justify-end h-28 w-28 ${className || ""}`}>
    {<tag.icon />}
    <span>{tag.name}</span>
</article>
