---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Technologies from "../components/Technologies.astro";
---

<Layout title="Parrizas | Full-Stack Developer">
	<main class="text-gray-50">
		<Intro />
		<Technologies />
	</main>
</Layout>
