---
import AboutMeIcon from "../icons/AboutMeIcon.astro";
---

<section id="aboutme" class="flex flex-col items-center w-full lg:max-w-4xl md:max-w-3xl pt-20">
    <h2
        class="flex items-center gap-2 mb-10 font-bold text-4xl text-gray-50 w-full lg:w-auto"
    >
        <AboutMeIcon className="h-9" />
        Sobre Mí
    </h2>
    <div>
        <p class="aboutA text-center bg-purple-950">
            ¡Hola! Soy Miguel Ángel Párrizas, aunque mis amigos me llaman Migue
            o Parri. Tengo 24 años y
            <span class="text-purple-300">
                he completado mis estudios como desarrollador Web.
            </span>
            A lo largo de mis estudios,
            <span class="text-orange-300">me he esforzado por sobresalir,</span>
            lo que refleja mi dedicación y pasión por la programación.
        </p><br />
        <p class="aboutB text-center bg-orange-900">
            Me fascina el frontend y el backend, pero si tuviera que elegir,
            <span class="text-purple-300">me inclinaría por el frontend,</span>
            donde puedo expresar mi creatividad.
            <span class="text-purple-300"
                >Me esfuerzo por crear páginas web</span
            >
            que no solo sean
            <span class="text-orange-300">compactas</span>
            y de
            <span class="text-orange-300">alto rendimiento,</span>
            sino también
            <span class="text-orange-300">visualmente atractivas.</span>
        </p><br />
        <p class="aboutC text-center bg-purple-950">
            Fuera del mundo del desarrollo, soy un
            <span class="text-purple-300"
                >apasionado de los videojuegos y del Tricking,</span
            >
            un deporte acrobático que me permite expresar mi energía y creatividad
            de otra manera.
            <span class="text-orange-300">Mi objetivo</span> 
            es seguir creciendo como desarrollador y
            <span class="text-orange-300">
                crear experiencias web que dejen una impresión duradera.
            </span>
        </p>
    </div>
</section>
<style>
    p {
        padding: 10px 7%;
        background-color: #212132;
    }

    p.aboutA,
    p.aboutC {
        clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    }

    p.aboutB {
        clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
    }
</style>
