---
import House from "../icons/House.astro";
---

<header
    id="mainHeader"
    class="fixed flex w-full font-semibold text-gray-100 p-5 z-10"
>
    <nav
        id="navHeader"
        class="flex gap-5 m-auto justify-center px-5 py-2 rounded-full backdrop-blur"
    >
        <a href="#home" class="flex items-center"><House className="w-5" /></a>
        <a href="#projects">Proyectos</a>
        <a href="#tech">Tecnologías</a>
        <a href="#aboutme">Sobre mí</a>
    </nav>
</header>