<section class="flex justify-center px-8 h-screen">
    <div
        class="flex flex-col justify-center items-center w-full lg:max-w-4xl md:max-w-3xl text-center"
    >
        <h1 class="dark:text-gray-100 font-extrabold text-4xl sm:text-7xl mb-2">
            Miguel Angel Párrizas
        </h1>
        <h2 class="mb-10 font-bold text-2xl sm:text-4xl text-purple-300">
            Desarrollador Web Full-Stack
        </h2>
        <p class="text-gray-300 text-xl sm:text-2xl">
            Apasionado por el desarrollo web, con
            <span class="text-orange-300">experiencia</span>
            en la creación de
            <span class="text-purple-300">aplicaciones web dinámicas.</span>
            <br />
            Me dedico a convertir
            <span class="text-orange-300">ideas</span>
            en aplicaciones
            <span class="text-purple-300">
                intuitivas y visualmente atractivas.
            </span>
        </p>
    </div>
</section>
