---
import "@fontsource-variable/quicksand";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Miguel Ángel Párrizas" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content="https://parrizas.dev/projects/portfolio.webp" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div
			class="absolute top-0 z-[-2] h-screen w-full bg-neutral-950
			bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
		>
		</div>
		<div
			class="gradiant-page bg-gradient-to-b from-neutral-950 to-neutral-900 absolute w-full -z-10"
		>
		</div>
		<slot />
		<footer class="overflow-auto px-8">
			<div
				class="flex justify-between w-full max-w-4xl mx-auto my-10 text-gray-50 p-5 rounded-lg bg-neutral-800"
			>
				<span>©️ 2024 Párrizas</span>
				<div class="flex gap-6">
					<a href="mailto:maparrizasd@gmail.com">Contacto</a>
				</div>
			</div>
		</footer>
	</body>
</html>
<style is:global>
	html {
		box-sizing: border-box;
		font-family: "Quicksand Variable";
		background-color: #0a0a0a;
	}

	body {
		position: relative;
		min-height: 100vh;
	}
	.gradiant-page {
		top: 100vh;
		height: calc(100% - 100vh);
	}
</style>
